
<html>
<body>
  <div ng-controller='GameController' class="main">
    <!-- 選擇角色 -->
    <table class="table" ng-hide='isBattle'>
      <tr>
        <td>角色名稱</td>
        <td>職業</td>
        <td>功能</td>
      </tr>
      <tr ng-repeat='character in characters'>
        <td> {{ character.name }} </td>
        <td> {{ character.job | keyToName: Eq.job }} </td>
        <td>
          <!-- 點選選擇角色 -->
          <a class="btn btn-outline-secondary" ng-click="chooseFighter(character)">
            選擇
          </a>
        </td>
      </tr>
    </table>
    <!-- 開始對戰就隱藏按鈕 -->
  <a class="btn btn-warning" ng-click="battle()" ng-hide="isBattle">與魔王對戰</a>
  <div ng-show='isBattle'>
    <div>
      <div class="col-xs-3 ">
        英雄 : {{ fighter.name }}
        <br>
        血量 : {{ fighter.hp }}
        <br>
  
        <!-- 角色或魔王死亡時隱藏 -->
        <a class='btn btn-info' ng-hide='isDead' ng-click='fight(0, fighter)'>普通攻擊</a>
        <a class='btn btn-info' ng-hide='isDead' ng-click='fight(1, fighter)'>特殊攻擊</a>
      </div>
      <div class="col-xs-3">
        最終 : {{ boss.name }}
        <br>
        血量 : {{ boss.hp }}
      </div>
    </div>
    <div class="col-xs-6">
      <!-- 角色或魔王死亡時顯示 -->
      <a class='btn btn-danger' ng-show='isDead' ng-click='reFight()'>重新挑戰</a>
      <p ng-repeat='text in fightText'>{{ text.text }}</p>
    </div>

  </div>

  </div>
</body>
</html>