<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <title>ng-submit $scope</title>
</head>

<body>
  <div ng-app='myApp' ng-controller='AngularController'>
    <form ng-submit='submit()'>
      <label>紅藥水</label>
      請輸入購買數量 :
      <input type="text" ng-model='red'>
      <br>
      <label>藍藥水</label>
      請輸入購買數量 :
      <input type="text" ng-model='blue'>
      <br>
      <input type="submit" value="購買">
    </form>
    <p ng-repeat='item in items'>
      物品:
      <br>
      紅藥水{{ item.red }} 瓶, 藍藥水 {{ item.blue }} 瓶
    </p>
  </div>
  <script>
    (function () {
      let app = angular.module('myApp', []);

      app.controller('AngularController', ['$scope', function ($scope) {
        $scope.items = [];
        $scope.red = 0;
        $scope.blue = 0;
        $scope.submit = function () {
          if ($scope.items.length == 0) {
            $scope.items.push({
              red: +$scope.red,
              blue: +$scope.blue
            })
          } else {
            $scope.items[0].red += +$scope.red;
            $scope.items[0].blue += +$scope.blue;
          }
        }
      }])
    })();
  </script>
</body>

</html>