<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
  <title>ng-submit $scope</title>
</head>

<body>
  <div ng-app='myApp' ng-controller='AngularController as angular'>
    <form ng-submit='angular.submit()'>
      <label>紅藥水</label>
      請輸入購買數量 :
      <input type="text" ng-model='angular.red'>
      <br>
      <label>藍藥水</label>
      請輸入購買數量 :
      <input type="text" ng-model='angular.blue'>
      <br>
      <input type="submit" value="購買">
    </form>
    <p ng-repeat='item in items'>
      物品:
      <br>
      紅藥水{{ item.red }} 瓶, 藍藥水 {{ item.blue }} 瓶
    </p>
  </div>
  <script>
    (function () {
      let app = angular.module('myApp', []);

      app.controller('AngularController', ['$scope', function ($scope) {
        $scope.items = [];
        $scope.red = 0;
        $scope.blue = 0;
        // console.log($scope.items)
        this.submit = function () {
          if ($scope.items.length == 0) {
            $scope.items.push({
              red: +this.red,
              blue: +this.blue
            })
            console.log($scope)
          } else {
            console.log(($scope.items[0]))
            $scope.items[0].red += +this.red;
            $scope.items[0].blue += +this.blue;
          }
        }
      }])
    })();
  </script>
</body>

</html>